<main class="main">
  <div class="content">
    <div class="links">
      <div class="data-links">
        <a
          href="https://ccnorte.com/evento/detalle/id/2710/1as-olimpiadas-rurais-de-galicia"
          target="blank"
          class="btn"
          >INSCRIPCIONES</a
        >
        <a
          href="https://www.woutick.es/devoluciones-cashless/57852/77635"
          target="blank"
          class="btn"
          >DEVOLUCIÓN SALDOS PULSERAS</a
        >
      </div>
      <div class="contact-links">
        <a
          href="mailto:colectivohercules@gmail.com"
          target="blank"
          class="contact"
        >
          <!-- <img width="30" height="30" src="https://img.icons8.com/ios/50/2f250a/secured-letter--v1.png" alt="secured-letter--v1"/> -->
          <!-- <img
          width="38"
          height="38"
          src="https://img.icons8.com/officexs/40/filled-message.png"
          alt="filled-message"
        /> -->
          <img
            class="email"
            src="https://img.icons8.com/ios-filled/50/34210b/new-post.png"
            alt="new-post"
          />
        </a>
        <a href="https://wa.me/34622441421" target="blank" class="contact">
          <!-- <img width="35" height="35" src="https://img.icons8.com/ios/50/2f250a/whatsapp--v1.png" alt="whatsapp--v1"/> -->
          <img
            width="48"
            height="48"
            src="https://img.icons8.com/color/48/whatsapp--v1.png"
            alt="whatsapp--v1"
          />
        </a>
        <a
          href="https://www.instagram.com/xogosrurais"
          target="blank"
          class="contact"
        >
          <img
            src="https://img.icons8.com/fluency/48/instagram-new.png"
            alt="instagram-new"
          />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61561890093532&mibextid=ZbWKwL"
          target="blank"
          class="contact"
        >
          <img
            width="48"
            height="48"
            src="https://img.icons8.com/color/48/facebook-new.png"
            alt="facebook-new"
          />
        </a>
      </div>
    </div>
    <div class="background background1">
      <img src="../assets/img/Page-1.jpg" alt="" width="100%" />
    </div>
    <div class="background background2">
      <img src="../assets/img/Page-2.jpg" alt="" width="100%" />
    </div>
  </div>
</main>

<!-- <router-outlet /> -->
