<main class="main">
  <div class="content">
    <div class="background">
      <div class="links">
        <a href="mailto:colectivohercules@gmail.com" target="blank"><img width="30" height="30" src="https://img.icons8.com/ios/50/2f250a/secured-letter--v1.png" alt="secured-letter--v1"/></a>
        <a
          href="https://ccnorte.com/evento/detalle/id/2710/1as-olimpiadas-rurais-de-galicia"
          target="blank"
          >INSCRIPCIONES</a
        >
        <a href="https://wa.me/622441421" target="blank"><img width="35" height="35" src="https://img.icons8.com/ios/50/2f250a/whatsapp--v1.png" alt="whatsapp--v1"/></a>
      </div>
    </div>
  </div>
</main>

<!-- <router-outlet /> -->
